<footer>
    <div class="footer-container">
        <div class="footer-desc-container">
            <h3 class="footer-title">Perfumaria e Cosméticos</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores corrupti eveniet quam at natus
                quibusdam nostrum qui distinctio ipsa. Consequuntur autem odio quis similique, impedit inventore dicta
                consectetur culpa libero?</p>
        </div>
        <div class="footer-links-container">
            <div class="footer-links-container-list">
                <p class="footer-title">Links</p>
                <ul>
                    <li>
                        <a href="#">Base de conhecimentos</a>
                    </li>
                    <li>
                        <a href="#">Trabalhe conosco</a>
                    </li>
                    <li>
                        <a href="#">Últimos projetos</a>
                    </li>
                    <li>
                        <a href="#">Política de privacidade</a>
                    </li>
                    <li>
                        <a href="#">Contato</a>
                    </li>
                </ul>
            </div>
            <div class="footer-links-container-list">
                <p class="footer-title">Links</p>
                <ul>
                    <li>
                        <a href="#">Base de conhecimentos</a>
                    </li>
                    <li>
                        <a href="#">Trabalhe conosco</a>
                    </li>
                    <li>
                        <a href="#">Últimos projetos</a>
                    </li>
                    <li>
                        <a href="#">Política de privacidade</a>
                    </li>
                    <li>
                        <a href="#">Contato</a>
                    </li>
                </ul>
            </div>
            <div class="footer-links-container-list">
                <p class="footer-title">Links</p>
                <ul>
                    <li>
                        <a href="#">Base de conhecimentos</a>
                    </li>
                    <li>
                        <a href="#">Trabalhe conosco</a>
                    </li>
                    <li>
                        <a href="#">Últimos projetos</a>
                    </li>
                    <li>
                        <a href="#">Política de privacidade</a>
                    </li>
                    <li>
                        <a href="#">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-copy-right-container">
            <p>&copy; 2022 Perfumaria e Cosméticos</p>
            <p>A melhor</p>
        </div>
    </div>
</footer>