<div *ngIf="items && items.length; else emptyCart">
    <div *ngFor="let d of items" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        Produto: {{ d?.id }} - {{d?.title }} - {{d?.description}} - {{d.amount | currency: 'BRL':true}} -
        <button class="btn btn-outline-success" (click)="removeProduct(d)">-</button>
        {{d.qtd}}
        <button class="btn btn-outline-success" (click)="addProduct(d)">+</button>
        <h3>Subtotal: {{d.amount * d.qtd | currency: 'BRL':true}}</h3>
        <br>
    </div>

    <div class="form-group col d-flex justify-content-end">
        <h4>Valor total do carrinho: {{service.getCartBuyTotal() | currency: 'BRL':true}}</h4>
    </div>
</div>

<ng-template #emptyCart>
    <div class="form-row d-flex justify-content-center"
        style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        Seu carrinho está vazio!
    </div>
</ng-template>

<button class="btn btn-primary btn-rounded mr-1" [routerLink]="['/', ]">Ver oferta</button>
<button class="btn btn-primary btn-rounded" disabled (click)="closeOrders()">Finalizar Compras</button>