<main class="services-container">
    <h2>Detalhe do Produto</h2>
    <div class="services-card-container">
        <div class="services-card">
            <img [src]="product?.thumbnail" style="width: 22rem; height: 22rem;">
            <h1>{{product?.description}}</h1>
            <p class="prince">{{product?.price | currency:'BRL'}}</p>

            <button class="btn btn-primary btn-rounded" [disabled]="isAddProduct" (click)="add()">ADICIONAR
                AO
                CARRINHO</button>
        </div>

    </div>
    <button class="btn btn-primary btn-rounded mr-1" [routerLink]="['/', ]">Ver oferta</button>
    <button class="btn btn-primary btn-rounded" [routerLink]="['/buy-cart']">Ver carrinho</button>
</main>