<header id="main-banner">
    <div class="nav-container" style="background-color: #f5f5f5;">
        <a href="#" class="brand" style="color: #000;">Perfumaria e Cosméticos</a>
        <div class="" style="display: flex;">
            <input class="form-control input" type="search" id="site-search" name="q"
                placeholder="O que você procura hoje?">
            <button class="btn-search">
                <img src="../../../assets/img/search-white-boti.svg" alt="Search" style="max-width: 20px;">
            </button>
        </div>
        <nav>
            <ul class="nav-container-navbar">
                <li>
                    <a href="#" style="color: #000;">Ajuda</a>
                </li>
                <li>
                    <a href="#" style="color: #000;">Revenda</a>
                </li>
                <li>
                    <a href="#" style="color: #000;">Pedidos</a>
                </li>
                <li>
                    <a href="#" style="color: #000;" class="btn btn-primary">Entrar</a>
                </li>
                <li>
                    <a href="#" style="color: #000;" class="btn">Cadastre-se</a>
                </li>
            </ul>
        </nav>
        <i class="fas fa-bars"></i>
    </div>
    <div class="title-container">
        <h2>Compre Agora</h2>
        <h1>Tudo para sua beleza</h1>
    </div>
</header>